<!-- Class binding and property binding.. -->

<!-- <div class="box" [class.myclass]="myPro">Class Binding..</div> -->


<!-- <div class="box" [style.margin]="myStyle1">Class Binding..</div> -->

<!-- <div class="box" [style.margin]="isActive? myStyle1 : '5px'">Class Binding..</div> -->

<!-- <div class="box" [ngClass]="'class1 class2 class3'">Class Binding..</div> -->

<!-- <div class="box" [ngClass]="multiClasses">Class Binding..</div> -->

<!-- <div class="box" [ngStyle]="{
    'background': 'red',
    'border' : '10px solid green'
}">Class Binding..</div> -->


<div class="box" [ngStyle]="multiStyle">Class Binding..</div>



