<div class="container">
    <div class="page-area">
        <div class="row">
            <h4 class="head">Contact Us</h4>
        </div>
        <p>
            <br>
            <b>mnjgupta74@gmail.com</b> mail here..
        </p>
            <div class="row">
                <div class="col-md-6">
                    <app-card>
        <h5 class="card-title">Laptop</h5>
      <a routerLink="laptop" class="btn btn-success">Know More Laptop</a>
                    </app-card>  
                  </div>
                  <div class="col-md-6">
                    <app-card>
                        <h5 class="card-title">Mobile</h5>
      <a routerLink="mobile" class="btn btn-success">Know More Mobile</a>
                    
                    </app-card>  
                  </div>
                  <div class="col-md-6">
                    <app-card>
      <a routerLink="desktop" class="btn btn-success">Know More Desktop</a>
      <h5 class="card-title">Desktop</h5>
                    
                    </app-card>  
                  </div>
                  <div class="col-md-6">
                    <app-card>
                        <h5 class="card-title">Washing machine</h5>
      <a routerLink="wmachine" class="btn btn-success">Know More Machine</a>
                
                    </app-card>  
                  </div>
            </div>
        
    </div>
</div>