<div class="container">
<div class="page-area">
  <div class="text-center">
    <h4>Products</h4>
    <p>
      Some quick example text to build on the card title and make up the bulk of the card's content.   
  </p>
</div>
    <div class="row">
<div class="col-md-5">
    <div class="card" style="width: 10rem;">
        <img src="../../../assets/images/Laptop.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="laptop" class="btn btn-success">Know More</a>
        </div>
      </div>
<!-- </div>
<div class="col-md-3"> -->
    <div class="card" style="width: 10rem;">
        <img src="../../../assets/images/Mobile.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="mobile" class="btn btn-success">Know More</a>
        </div>
      </div>
<!-- </div>
<div class="col-md-3"> -->
    <div class="card" style="width: 10rem;">
        <img src="../../../assets/images/Desktop.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Desktop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="desktop" class="btn btn-success">Know More</a>
        </div>
      </div>
<!-- </div>
<div class="col-md-3"> -->
    <div class="card" style="width: 10rem;">
        <img src="../../../assets/images/Washing Machine.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Washing Machine</h5>
          <p class="card-text">Some quick example the card title and make up the bulk of the card's content.</p>
          <a routerLink="wmachine" class="btn btn-success">Know More</a>
        </div>
      </div>
</div>
<div class="col-md-6">
  <router-outlet></router-outlet>
</div>
    </div>
    <!-- <div class="row">
<div class="col-md-12">
  <router-outlet></router-outlet>
</div>
    </div> -->
</div>
</div>